@page "/"
@inject HttpClient Http
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable


<h1>Hello, world!</h1>
<p>Time of the day 1: <strong>@Watch1</strong></p>
<p>Time of the day 2: <strong>@Watch2</strong></p>
<p>Time of the day 3: <strong>@Watch3</strong></p>
<p>Time of the day 4: <strong>@Watch4</strong></p>
<p>Time of the day 5: <strong>@Watch5</strong></p>
<p>Time of the day 6: <strong>@Watch6</strong></p>
<p>Time of the day 7: <strong>@Watch7</strong></p>
<p>Time of the day 8: <strong>@Watch8</strong></p>
<p>Time of the day 9: <strong>@Watch9</strong></p>
<p>Time of the day 10: <strong>@Watch10</strong></p>
<p>Time of the day 11: <strong>@Watch11</strong></p>
<p>Time of the day 12: <strong>@Watch12</strong></p>
<p>Time of the day 13: <strong>@Watch13</strong></p>
<p>Time of the day 14: <strong>@Watch14</strong></p>
<p>Time of the day 15: <strong>@Watch15</strong></p>
<p>Time of the day 16: <strong>@Watch16</strong></p>
<p>Time of the day 17: <strong>@Watch17</strong></p>
<p>Time of the day 18: <strong>@Watch18</strong></p>
<p>Time of the day 19: <strong>@Watch19</strong></p>
<p>Time of the day 20: <strong>@Watch20</strong></p>

<p>@connectionId</p>
@*NEWS*@
@if (news is null)
{
    <p>Loading news...</p>
}
else
{
    <div>
        <p><h1>@news.title</h1></p>
        <p>From: @news.source.name</p>
        <div>
            <p>@news.content</p>
            <p> <a href="@news.url" target="_blank">Leggi notizia completa</a> </p>

            <p></p>
            <img src="@news.urlToImage"/>
        </div>

    </div>
}
